.contact-container {
    width: 100%;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.text-contact {
    font-size: 50px;
}

.box-form {
    background-color: rgb(21, 21, 21);
    width: 600px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
}

.formModal{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    line-height: 50px;
}

.form-input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-indent: 10px;
    border: none;
}

#message {
    height: 100px;
    align-items:inherit;
}

#message::placeholder {
    height: 100px;
    text-align: start;
}

.btn-info {
    margin-top: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700; 
    background-color: #B00000; 
    border-color: #B00000;
    color: #FFFFFF;
    border: none;
}

.btn-info:hover {
    background-color:#fff;
    border-color: #fff;
    color: black;
    font-size: 17px;
    font-weight: 700; 
    padding: 0px;
}

@media (max-width:600px) {
    .contact-container {
        width:100%;
        min-height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
    }
    .box-form {
        background-color: black;
        width: 300px;
        height: 400px;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    .text-contact {
        font-size: 30px;
    }
}