.main-footer {
  font-size: medium;
  text-align: center;
  position: relative;
  display: grid;
  color: #FFFFFF;
} 

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-f {
  margin: 5px;
  cursor: pointer;
  color: #FFFFFF;
}

.icon-f:hover {
  color: #B00000; 
}

@media (min-width: 1200px) {
  .col-sm{
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .col-sm{
    font-size:10px;
  }
}