body {
  background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgba(11,10,10,1) 26%, rgba(6,6,9,1) 66%, rgba(8,8,9,1) 100%);
}

.home-container {
  width:100%;
  min-height: 80vh;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.span1{
  color: #B00000; 
}

.box-home {
  max-height: 100%;
  font-size: 70px;
  font-weight: 200;
  font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.footer {
  margin-top: 90px;
}

@media (max-width:600px) {
  .home-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  .box-home {
    font-size: 60px;
    margin-left: 0px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}