.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100px;
    background-color: #000000;
    font-family: 'Arial Narrow Bold', sans-serif;
  }
  
  .box-logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .logo {
    display: flex;
    width: 30px;
    height: 80px;
    margin-left: 50px;
  }
  
  .btn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-btn:hover {
    font-weight: 750;
    font-size: 16px;
  }
  
  .nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    position: relative;
    padding: 0px;
    color: #FFFFFF;
  }
  
  .nav-header {
    display: inline;
  }
  
  .nav > .nav-links {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    float: right;
    font-size: 18px;
    
  }
  
  .nav > .nav-links > a {
    justify-content: right;
    font-size: 20px;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #FFFFFF;
  }
    
  .nav > .nav-links > a:hover {
    transform: scale(1.1);
    color: #B00000; 
  }
  
  .nav > #nav-check {
    display: none;
  }

  @media (min-width: 1200px) {
  }
  
  @media (max-width:600px) {
    .navbar-container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      width: 100%;
      background-color: #000000;
    }
    .logo {
      width: 10px;
      height: 50px;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 7px;
      top: 7px;
    }
    .nav > .nav-btn:hover {
      background-color: #B00000; 
    }
    .nav > .nav-btn > label {
      display: inline-block;
      align-items: center;
      align-content: center;  
      width: 50px;
      height: 35px;
      padding: 12px;
      margin: 10px;
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 50px;
      height: 7px;
      border-top: 6px solid #FFFFFF; 
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      transition: all 0.15s ease-in;
      overflow-y: hidden;
      overflow-x: hidden;
      top: 100px;
      left: 0px;
      background-color: rgb(179, 0, 0, 0.75); 
    }
    .nav > .nav-links > a  {
      display: block;
      width: 100%;
    }
    .nav > .nav-links > a:hover {
      transform: scale(1.1);
      color: #000000; 
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 40px);
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .navbar-container {
      padding: 0px 0px 0px 0px;
    }
    .logo {
      display: flex;
      width: 100%;
      height: 75px;
      margin-left: 30px;
    }
  }

  
  
  
  
  
  